<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="consoleEnabled" source="logging.console.enabled" defaultValue="true"/>
    <springProperty scope="context" name="fileEnabled" source="logging.file.enabled" defaultValue="true"/>
    
    <property name="LOG_PATH" value="/log"/>
    <property name="LOG_FILE" value="admin-application"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="com.arthum.admin" level="INFO"/>
    <logger name="org.springframework.cache" level="DEBUG"/>

    <root level="INFO">
        <if condition='"${consoleEnabled}".equals("true")'>
            <then>
                <appender-ref ref="CONSOLE"/>
            </then>
        </if>
        <if condition='"${fileEnabled}".equals("true")'>
            <then>
                <appender-ref ref="FILE"/>
            </then>
        </if>
    </root>
</configuration>
